html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }
  h1 {
    font-size: 70px;
    text-align: center;
  }
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  html {
    background-color: #00529f71;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #086500c2;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  h1 {
    margin: 0;
    padding: 10px 0;
    color: #00539f;
    text-shadow: 4px 3px 3px rgba(0, 187, 255, 0.52);
  }
  img {
    display: block;
    margin: 0 auto;
  }
  